html {
    position: relative;
    min-height: 100%;
}

.navbar-brand {
    padding: 30px 0;
    font-size: 1.2em;
}

.form-control {
    opacity: .99;
}


#navigation {
    border-bottom: solid teal 10px;
    opacity: .80;
}

 .list {
     display: inline;
     font-size: 1.2em;
     margin: 0 3px;
     color: black;
     
 }

 .navbar-default .navbar-brand {
     font-size: 1.2em;
     color: white;
     font-weight: bold;
     border-radius: 5px;
     background-color: gray;
     padding: 15px 10px;

 }

a {
    color: black;
}

a:hover {
    color: black;
}

 a:active {
     color: black;
 }

 a:focus {
     color: gray;
 }

 p {
     line-height: 2;
     font-size: 1.5em;
 }
 
 .container {
     margin-top: 20px;
     border-radius: 20px;
 }
 
 h3 {
     color: teal;
     font-weight: bold;
 }
 body {
     
     background-image: url(https://livability.com/sites/default/files/Charlotte-NC.jpg);
     margin-bottom: 100px;
     background-size: cover;
 }
 
 .img-1 {
     margin-right: 20px;
     float: left;
     width: 60%;
 }

.blah {
    padding-top: 10px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    opacity: .80;
}


#aside {
    text-align: center;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    opacity: .80;
    
}

.connect {
    width: 98%;
    color: teal;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .80;
    
    
    background-color: gray;
    color: white;
    text-align: center;
    margin-top: 20px;
    border-top: 8px solid teal;
}

ul {
    
    display: inline;
    float: right;
    
}



.name {
    opacity: 100%;
}

#port {
    text-align: center;
}

.btn {
    background-color: teal;
    margin: 20px 0;
    color: white;
    font-weight: bold;
}

.input-group, .input-group-lg {
    width: 100%;
    margin: 20px 0;
}

.pimg-2, .pimg-4 {
    margin-top: 10px;

}

.pimg-4 {
    margin-bottom: 10px;
}
.pic1, .pic2, .pic3, .pic4 {
    position: relative;
}

.img-text {
    position: absolute;
    bottom: 5%;
    width: 100%;
    color: white;
    background-color: teal;
    text-align: center;
}

